/* You can add global styles to this file, and also import other style files */
html{
    background-color: #333333;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-select-value {
    color: rgb(255, 255, 255);
}

.mat-form-field-appearance-fill .mat-form-field-underline::before {
    background-color:white;
}

.mat-select-arrow {
    color: white;
}

.mat-button, .mat-icon-button, .mat-stroked-button {
    color: inherit;
    background: #FF4081;
}
