/* You can add global styles to this file, and also import other style files */
html{
    background-color: #333333;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

span.mat-select-min-line.ng-tns-c77-1.ng-star-inserted {
  color: white;
}
span.mat-select-min-line.ng-tns-c77-3.ng-star-inserted {
  color: white;
}
